.logo-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* If you want the items to wrap to the next line */
    gap: 60px; /* Adjust this value for the space between items */
    padding: 140px;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
  }