* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-green: #529676;
  --dark-green: #3C8361;
  --red: #F1340B;
  --dark-red: #D32E0A;
  --tan: #DDB892;
  --grey: #808080;
  --black: #000000;
  --yellow: #FFE599;
  --pot: #E3A15C;
}

svg {
  cursor: pointer;
}

.text {
  grid-column: 2;
  padding-right: 120px;
}