.section {
  margin-bottom: 4rem;
  margin-left: 4rem;
  margin-right:4rem;
}

.section-title {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  font-family: 'Literata', serif;
}

.section-content {
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
}